$header-clr: #495057;
$title-clr: #495057;
$minimal-clr: #BAC0C6;
$main-clr: #6D758F;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extrabold: 800;
$black: 900;